.white-theme {
    header {
        background-color: white;
    }
}

.blue-theme {
    header {
        background-color: var(--background-blue);
    }
}

.light-blue-theme {
    header {
        background-color: #F8FAFD;
    }
}