form {
    width: 50%;
    @include flex($direction: column, $align: normal);
    @media (max-width: 992px) {
        width: 90%;
    }
    .form-floating > .form-control:focus ~ label::after,
    .form-floating > .form-control:not(:placeholder-shown) ~ label::after,
    .form-floating > .form-control-plaintext ~ label::after,
    .form-floating > .form-select ~ label::after {
        background-color: transparent;
    }
    .form-floating {
        label {
            color: var(--dark-blue);
            @include fonts(19px, 400, 18px);
            padding-inline: 0;
            &::after {
                background-color: transparent;
            }
        }
        input.form-control {
            background-color: transparent;
            height: 65px;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #bfc3ca;
            &:focus {
                box-shadow: none;
            }
        }
        textarea.form-control {
            background-color: transparent;
            height: 115px;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #bfc3ca;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .form-check {
        padding: 0;
        margin-top: clamp(1.938rem, 1.146vw + 1.687rem, 3.063rem);
        @include fonts(13px, 400, 13px);
        color: var(--dark-blue);
        label {
            margin-left: 15px;
            margin-top: 3px;
            cursor: pointer;
            a {
                text-decoration: none;
                color: inherit;
                @include fonts(13px, 500, 13px);
                transition: 0.4s ease;
                color: var(--dark-blue);
                @media (hover: hover) {
                    &:hover {
                        color: var(--light-blue);
                    }
                }
            }
        }
    }
    .submit-content {
        @include flex($justify: center);
    }
}
